
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col-md-6 text-center form-control">
          <p>My Application</p>
      </div>
  </div>
  <br>
<div class="row">  
  <div class="col-md-6">  
      <!-- <input class="form-control" type="file" #fileInput /> -->
      <input type="file" #csvReader name="Upload CSV" class="form-control" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
  </div> 
</div>  
<!-- <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />     -->
<br>
<table class="minimalistBlack" *ngIf="records.length > 0">    
  <thead>    
    <tr>    
      <th>Name </th>    
      <th>Age </th>    
      <th>City </th> 
    </tr>    
  </thead>    
  <tbody>    
    <tr *ngFor="let record of records;let i = index;">    
      <td> <span>{{record.Name}}</span> </td>    
      <td> <span>{{record.Age}}</span> </td>    
      <td> <span>{{record.City}}</span> </td>
    </tr>    
  </tbody>    
</table>
<br>
<div class="col-md-6">  
    <label class="form-control">TotalNoStudents : - {{this.NoofStudents}}</label>
  </div>
<div class="col-md-6">  
  <button class="btn btn-primary" (click)="Savenotice();">Save</button>  
</div>
<div class="col-md-6">  
  <h1>{{this.Message}}</h1>
</div>
</div>   